[View in Colaboratory](https://colab.research.google.com/github/bipin1404/acadview-ipython-assignmnet_5.ipy/blob/master/Untitled7.ipynb)

Question 1

In [51]:
import pandas as pd
import numpy as np
df=pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/Weather/master/weather.csv")
a=pd.isnull(df.sum())
print(a)
#<A> sum of missing data
print(df.isnull().sum())
# <B> remove the missing value
b=df.dropna()
print(b.shape)
# <C> import data set and remove null value with mean
df1=pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/Weather/master/weather.csv")
print(df1.fillna(0).head())
print(df1.fillna(df1.mean).head())
# <D> 
df1[['MinTemp']]==df1[['MinTemp']]
print(df1.head())

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustSpeed    False
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm      False
Cloud9am         False
Cloud3pm         False
Temp9am          False
Temp3pm          False
RainToday        False
RISK_MM          False
RainTomorrow     False
dtype: bool
Date              0
Location          0
MinTemp           0
MaxTemp           0
Rainfall          0
Evaporation       0
Sunshine          3
WindGustDir       3
WindGustSpeed     2
WindDir9am       31
WindDir3pm        1
WindSpeed9am      7
WindSpeed3pm      0
Humidity9am       0
Humidity3pm       0
Pressure9am       0
Pressure3pm       0
Cloud9am          0
Cloud3pm          0
Temp9am           0
Temp3pm           0
RainToday         0
RISK_MM           0
RainTomorrow      0
dtype: int64
(328, 24)
        Date  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0  11/1/2007  Canberra      8.0     24.3       0.0          3.4       6.3
1  11/2/2007  Canberra     14.0     26.9       3.6          4.4       9.7
2  11/3/2007  Canberra     13.7     23.4       3.6          5.8       3.3
3  11/4/2007  Canberra     13.3     15.5      39.8          7.2       9.1
4  11/5/2007  Canberra      7.6     16.1       2.8          5.6      10.6

  WindGustDir  WindGustSpeed WindDir9am      ...      Humidity3pm  \
0          NW           30.0         SW      ...               29
1         ENE           39.0          E      ...               36
2          NW           85.0          N      ...               69
3          NW           54.0        WNW      ...               56
4         SSE           50.0        SSE      ...               49

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
0       1019.7       1015.0         7         7     14.4     23.6         No
1       1012.4       1008.4         5         3     17.5     25.7        Yes
2       1009.5       1007.2         8         7     15.4     20.2        Yes
3       1005.5       1007.0         2         7     13.5     14.1        Yes
4       1018.3       1018.5         7         7     11.1     15.4        Yes

   RISK_MM  RainTomorrow
0      3.6           Yes
1      3.6           Yes
2     39.8           Yes
3      2.8           Yes
4      0.0            No

[5 rows x 24 columns]
        Date  Location  MinTemp  MaxTemp  Rainfall  Evaporation Sunshine  \
0  11/1/2007  Canberra      8.0     24.3       0.0          3.4      6.3
1  11/2/2007  Canberra     14.0     26.9       3.6          4.4      9.7
2  11/3/2007  Canberra     13.7     23.4       3.6          5.8      3.3
3  11/4/2007  Canberra     13.3     15.5      39.8          7.2      9.1
4  11/5/2007  Canberra      7.6     16.1       2.8          5.6     10.6

  WindGustDir WindGustSpeed WindDir9am      ...      Humidity3pm Pressure9am  \
0          NW            30         SW      ...               29      1019.7
1         ENE            39          E      ...               36      1012.4
2          NW            85          N      ...               69      1009.5
3          NW            54        WNW      ...               56      1005.5
4         SSE            50        SSE      ...               49      1018.3

   Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  RISK_MM  \
0       1015.0         7         7     14.4     23.6         No      3.6
1       1008.4         5         3     17.5     25.7        Yes      3.6
2       1007.2         8         7     15.4     20.2        Yes     39.8
3       1007.0         2         7     13.5     14.1        Yes      2.8
4       1018.5         7         7     11.1     15.4        Yes      0.0

   RainTomorrow
0           Yes
1           Yes
2           Yes
3           Yes
4            No

[5 rows x 24 columns]
        Date  Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0  11/1/2007  Canberra      8.0     24.3       0.0          3.4       6.3
1  11/2/2007  Canberra     14.0     26.9       3.6          4.4       9.7
2  11/3/2007  Canberra     13.7     23.4       3.6          5.8       3.3
3  11/4/2007  Canberra     13.3     15.5      39.8          7.2       9.1
4  11/5/2007  Canberra      7.6     16.1       2.8          5.6      10.6

  WindGustDir  WindGustSpeed WindDir9am      ...      Humidity3pm  \
0          NW           30.0         SW      ...               29
1         ENE           39.0          E      ...               36
2          NW           85.0          N      ...               69
3          NW           54.0        WNW      ...               56
4         SSE           50.0        SSE      ...               49

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
0       1019.7       1015.0         7         7     14.4     23.6         No
1       1012.4       1008.4         5         3     17.5     25.7        Yes
2       1009.5       1007.2         8         7     15.4     20.2        Yes
3       1005.5       1007.0         2         7     13.5     14.1        Yes
4       1018.3       1018.5         7         7     11.1     15.4        Yes

   RISK_MM  RainTomorrow
0      3.6           Yes
1      3.6           Yes
2     39.8           Yes
3      2.8           Yes
4      0.0            No

[5 rows x 24 columns]

Another question practice

In [4]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
df=pd.DataFrame(d)
print(df)
print(df.T)
print(df.ndim)
print("sum of all colume\n",df.sum())

   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   23   Jack    3.80
           0      1      2     3      4      5     6
Age       25     26     25    23     30     29    23
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8
2
sum of all colume
 Age                                  181
Name      TomJamesRickyVinSteveSmithJack
Rating                             25.61
dtype: object

In [8]:
print(df.sum(1))
print(df.sum(0))

0    29.23
1    29.24
2    28.98
3    25.56
4    33.20
5    33.60
6    26.80
dtype: float64
Age                                  181
Name      TomJamesRickyVinSteveSmithJack
Rating                             25.61
dtype: object

In [12]:
print(df.mean())
print(df.std())
print(df.describe(include="all"))

Age       25.857143
Rating     3.658571
dtype: float64
Age       2.734262
Rating    0.698628
dtype: float64
              Age Name    Rating
count    7.000000    7  7.000000
unique        NaN    7       NaN
top           NaN  Vin       NaN
freq          NaN    1       NaN
mean    25.857143  NaN  3.658571
std      2.734262  NaN  0.698628
min     23.000000  NaN  2.560000
25%     24.000000  NaN  3.220000
50%     25.000000  NaN  3.800000
75%     27.500000  NaN  4.105000
max     30.000000  NaN  4.600000

In [21]:
print(df.cov)
print(df.isnull())
print(df.notnull())

<bound method DataFrame.cov of    Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   23   Jack    3.80>
     Age   Name  Rating
0  False  False   False
1  False  False   False
2  False  False   False
3  False  False   False
4  False  False   False
5  False  False   False
6  False  False   False
    Age  Name  Rating
0  True  True    True
1  True  True    True
2  True  True    True
3  True  True    True
4  True  True    True
5  True  True    True
6  True  True    True

In [27]:
df = pd.DataFrame(np.random.randn(3, 3), index=['a', 'c', 'e'],columns=['one',
'two', 'three'])
df = df.reindex(['a', 'b', 'c'])
print(df)
print(df['one'].sum)
print(df.fillna(0))
print(df.dropna)

        one       two     three
a -0.454206 -0.092696 -0.227730
b       NaN       NaN       NaN
c -0.029497 -0.583162 -0.828461
<bound method Series.sum of a   -0.454206
b         NaN
c   -0.029497
Name: one, dtype: float64>
        one       two     three
a -0.454206 -0.092696 -0.227730
b  0.000000  0.000000  0.000000
c -0.029497 -0.583162 -0.828461
<bound method DataFrame.dropna of         one       two     three
a -0.454206 -0.092696 -0.227730
b       NaN       NaN       NaN
c -0.029497 -0.583162 -0.828461>